
/*****************/
/* Button black  */
/*****************/
.btn-black:hover,
.btn-black:focus
{
    color: #60c21e;
}
.btn-black{
    background: black;
    border-radius:50px;
    color:#fff;
    font-weight: bold;
    padding:5px 10px 5px 10px;
    margin: 10px 4% 10px 4%;
}

.marca-breadcrumb .selected{
    color:black; 
}
.marca-breadcrumb{
    top: 10px;
    position: absolute;
    right: 10px;
}
.marca-breadcrumb i{
    font-size: 18px;
    color:#E1F8C2;
    margin: 1px;    
}

/************************/
/* Carrousel - Tamaños  */
/************************/
.carrousel-items article:nth-child(2n+1){
    opacity: .4;
    margin-bottom: 5px;
}
.carrousel-items article:nth-child(2) div img{
    border: 15px solid #fff;
}

.carrousel-items article div p{
    font-family: "Gothan Medium";
    font-weight: bold;
    color: #9BFF00;
    text-transform: uppercase; 
}
.carrousel-items{   
    text-align: center;
    margin-top: 20px;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}

@media only screen and (min-width: 768px) {

    /* GRID */
    .carrousel-items article:nth-child(1) {
        margin-left: 16.66666667%;
    }
    .carrousel-items article:nth-child(2n+2){
        width: 33.33333333%;
        z-index:3;
    }
    .carrousel-items article:nth-child(2n+1){
         width: 16.66666667%;
    }

    .carrousel-items,
    .carrousel-items article
    {
        display: flex;
        padding-left: 0px;
        padding-right: 0px;
    }
    .carrousel-items article div{
        margin: auto; 
    }

    /* Textos */
    .carrousel-items article:nth-child(2n+1) p{
        font-size: 32px;
    }
    .carrousel-items article:nth-child(2) p{
        font-size: 45px;
    }
}

@media only screen and (max-width: 767px) {

    /* Grid */
    .carrousel-items article{
        margin: 0 auto;
    }
    .carrousel-items article:nth-child(2n+2){
        width: 38.33333333%;
        z-index:3;
    }
    .carrousel-items article:nth-child(2n+1){
        width: 20.66666667%;
    }

    /* Textos */
    .carrousel-items article:nth-child(2n+1) p{
        font-size: 16px;
    }
    .carrousel-items article:nth-child(2) p{
        font-size: 30px;
    }

    .btn-black{
        padding: 5px 10px 5px 10px;
        margin: 5px 5px 5px 5px;
        width: 29%;
    }
    #fase_1 h2{
        font-size:35px;
    }

    .header_titulo {
        font-size: 15px!important;
    }
    /* Agregar scroll */
    .comprar_container {
        overflow: visible!important; 
        position: initial!important;
    }
}

@media only screen and (max-width: 360px) {
    .btn-black {
        width: 37%;
    }
} 


/* **********************  */
/* Carrousel - Productos   */
/* **********************  */
.carrousel2-items article:nth-child(1) img,
.carrousel2-items article:nth-child(5) img{
    width: 100px!important;
}
.carrousel2-items article:nth-child(2) img,
.carrousel2-items article:nth-child(4) img{
    width: 150px!important;
}
.carrousel2-items article:nth-child(3) img{
    width: 200px!important;
}


.carrousel2-items article:nth-child(3){
    opacity: 1;
    width: 100px!important;
}
.carrousel2-items article{
    opacity: .4;
    width: 50px;
}
.carrousel2-items article:nth-child(2) div img{
    border: 15px solid #fff;
}

.carrousel2-items article div p{
    font-family: "Gothan Light";
    font-weight: lighter;
    color: #181E0D;
    text-transform: uppercase; 
}
.carrousel2-items aside{
    margin: auto;
    font-size:40px;
}   
.carrousel2-items{   
    text-align: center;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}

.tamano-list li.selected{
    padding: 7px 9px;
    background: #60C21E; 
}
.tamano-list li{
    color: #fff;
    background: #000;
    border-radius: 50%;
    padding: 6px 8px;
    font-size: 9px;
    margin:5px;
}

.producto-titulo h1{
    font-size: 70px;
    margin:0px;
    color: #9Bff00;
    font-weight: bold;
}
.producto-titulo h2{
    font-weight: bold;
    font-size: 25px;
    margin-top: 0px;
    color: #181E0D;
    text-transform: uppercase;
}
.producto-titulo h2 span{
    color: #FFBC19;
    text-transform: uppercase;
}

.cargar-mas-productos{
    background: #181E0D;
    bottom: 0px;
    border: 1px solid #ccc;
    color: #fff;
    font-size: 30px;
    font-weight: lighter!important;
    padding: 23px;
    font-family: 'Gothan Light';
    text-align: center;
}
@media only screen and (min-width: 768px) {

    /* GRID */
    .carrousel2-items article:nth-child(3){
        width: 26.33333333%!important;
        z-index:3;
    }
    .carrousel2-items article:nth-child(2),
    .carrousel2-items article:nth-child(4) {
        width: 21.66666667%;
    }
    .carrousel2-items article:nth-child(1),
    .carrousel2-items article:nth-child(5) {
        width: 16.66666667%;
    }

    .carrousel2-items,
    .carrousel2-items article
    {
        display: flex;
        padding-left: 0px;
        padding-right: 0px;
    }
    .carrousel2-items article div{
        margin: auto; 
    }

    /* Textos */
    .carrousel2-items article:nth-child(3) p{
        font-size:34px;
    }
    .carrousel2-items article p{
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px) {

    /* Grid */
    .carrousel2-items article{
        margin: 0 auto;
    }
    .carrousel2-items article:nth-child(2n+2){
        width: 38.33333333%;
        z-index:3;
    }

    .carrousel2-items article:nth-child(4),
    .carrousel2-items article:nth-child(2){
        display: none;
    }

    .carrousel2-items article:nth-child(2n+1){
        width: 20.66666667%;
    }

    /* Textos */
    .carrousel2-items article:nth-child(2n+1) p{
        font-size: 16px;
    }
    .carrousel2-items article:nth-child(2) p{
        font-size: 30px;
    }

    .btn-black{
        padding: 5px 10px 5px 10px;
        margin: 5px 5px 5px 5px;
        width: 29%;
    }
    .producto-titulo h1{
        font-size:30px;
    }
    .producto-titulo h2{
        font-size:18px!important;
    }

    .cargar-mas-productos{
        font-size: 25px;
    }
    .no-pull-right{
        float: none!important; 
    }
    .header_titulo {
        font-size: 15px!important;
    }
    /* Agregar scroll */
    .comprar_container {
        overflow: visible!important; 
        position: initial!important;
    }
}
 
