html, body {
	width: 100%;
	height: 100%;
}

#content-primary {
	width: 100%;
	height: 100%;
}

.vlz_header {
	overflow: hidden;
    background: #94d400;
    padding: 15px 20px;
}

.header_titulo{
	float: right;
	color: #ffffff; 
	font-size: 18px;
	font-family: caviar_dreamsregular;
}

section {
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

.caviar{
    font-family: caviar_dreamsregular !important;
}

.comprar_container {
    width: 100%;
    height: calc( 100% - 60px );
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.comprar_footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 50px 15px;
    background: #FFF;
    #border-top: solid 3px;
    text-align: center;
}

.comprar_footer button {
    position: relative;
    color: #900e9c;
    padding: 5px 15px;
    border-radius: 5px;
    font-family: caviar_dreamsregular;
    font-size: 18px;
    background-color: #fff;
    border: 1px solid #fff;
}
.comprar_descripcion {
    position: relative;
    left: 40%;
    width: 100%;
    padding: 20px;
    background: #FFF;
    top: 80%;
    font-size: 18pt;
    z-index: 2;
}
.comprar_box {  
    position: absolute;
    top: 0px;  
    width: 100%;
    height: calc( 100% - 72px );
}

.vlz_carrousel {
	width: 1400px;
    height: 300px;
    margin: 60px auto;
    top: 50%;
    margin-top: -150px;
}


.comprar_descripcion {
    position: relative;
    left: 34%;
    width: 100%;
    padding: 20px;
    background: #FFF;
    top: 80%;
    font-size: 18pt;
    z-index: 2;
}

.vlz_carrousel img {
    cursor: pointer;
}

.comprar_container > section {
	#display: none;
}

.vlz_activo{
	background-color: #900e9c !important;
	color: #FFF !important;
}

.factura{
	margin: 50px auto;
    background-color: #FFF;
    box-shadow: 1px 5px 10px #8c8c8c;
    max-width: 900px;
}

table {
	width: 100%;
    font-family: caviar_dreamsregular;
}

#desglose th{    
	text-align: left;
    background-color: #930e9e;
    color: #FFF;
    padding: 10px 20px;
}

#desglose td {    
    padding: 10px 20px;
}

#desglose td hr {        
	margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 2px solid #dfdfdf;
}

#desglose td.separador {        
    padding: 0px 20px !important;
}


#derecha {
    font-size: 20pt;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    padding: 8px;
    margin-top: 10%;
    margin-left: 52%;
}


#izquierda {
    font-size: 20pt;
    /* background: #a09696; */
    width: 40px;
    height: 40px;
    border-radius: 30px;
    padding: 8px;
    margin-top: 10%;
    margin-left: 20%;
}




#totales{
	overflow: hidden;
	text-align: right;
	padding: 0px 20px 15px;
}

#cart-items {
	border: 0 !important;
}

#totales table {    
	text-align: right !important;
}

#totales table th{    
	text-align: right !important;
}

#totales table td {    
	text-align: right !important;
	color: #00c7c7;
	font-weight: 600;
	width: 200px;
}

th.style_total {
	font-size: 20px;
	color: #94d400 !important;
}

td.style_total {
	font-size: 20px;
	color: #900e9c !important;
}

.cintillo_factura{
	overflow: hidden;
	text-align: center;
}

.cintillo_factura #izq{
	/*float: left;    */
	height: 80px;
    margin: 20px;
}

.cintillo_factura #der{
	/*float: right;    */
	height: 80px;
    margin: 20px;
}

.cintillo_factura #cen{    
	height: 55px;
    margin: 25px auto;
}

#fase_4 {
	overflow: auto !important;
}

#nombre_producto {
    font-size: 50px;
    color: #94d400;
    font-weight: 800;
    font-family: caviar_dreamsregular;
    display: inline-block;
    margin-right: 78px;
}

#no_aparece {
	position: absolute;
    bottom: 15px;
    right: 15px;
    font-weight: 600;
}

#no_aparece a{
	text-decoration: none;
}

span.separador_presentacion {
    font-size: 20px;
   	color: #900e9c;
}

#plan > div {
    position: relative;
	display: block;
	margin: 0px auto;
	max-width: 900px;
    height: 420px;
    width: 100%;
    top: 46%;
    margin-top: -210px;
}

#agregar_plan {
    padding: 10px 20px;
    font-family: caviar_dreamsregular;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

#btn-sm-marca{
   
}
.btn-sm-kmibox:hover, .btn-sm-kmibox-price:hover, .btn-kmibox:hover {
    background: rgb(144, 14, 156) !important;
}

.cantidad_controls{
    display: inline-block;
    width: 10px;
    vertical-align: middle;
    margin-left: 15px;
}

.cantidad_controls i{
    font-size: 20px;
}

@media all and (max-width:959px) {
  table  #desglose {
    width: 50%;
    font-family: caviar_dreamsregular;
}
.cintillo_factura #cen {
    height: 15px;
    margin: 25px auto;
}

.cintillo_factura #der {
    /* float: right; */
    height: 50px; 
    margin: 20px;
}

.cintillo_factura #izq {
    /* float: left; */
    height: 50px;
    margin: 20px;
}

#desglose th{    
    text-align: left;
    background-color: #930e9e;
    color: #FFF;
    padding: 10px 10px;
    font-size: 15px;
}

#desglose td {    
    padding: 0px;
}

}
@media all and (min-width:959px) {
  
    table  #desglose {
    width: 50%;
    font-family: caviar_dreamsregular;
}
.cintillo_factura #cen {
    height: 15px;
    margin: 25px auto;
}

.cintillo_factura #der {
    /* float: right; */
    height: 50px;
    margin: 20px;
}

.cintillo_factura #izq {
    /* float: left; */
    height: 50px;
    margin: 20px;
}

#desglose th{    
    text-align: left;
    background-color: #930e9e;
    color: #FFF;
    padding: 10px 10px;
    font-size: 9px;
}
 
#desglose td {    
    padding: 0px;
}

}
@media all and (max-width:959px) and (min-width:600px) {
   
    table  #desglose {
    width: 50%;
    font-family: caviar_dreamsregular;
}
.cintillo_factura #cen {
    height: 15px;
    margin: 25px auto;
}
.cintillo_factura #der {
    /* float: right; */
    height: 50px;
    margin: 20px;
}

.cintillo_factura #izq {
    /* float: left; */
    height: 50px;
    margin: 20px;
}

#desglose th{    
    text-align: left;
    background-color: #930e9e;
    color: #FFF;
    padding: 10px 10px;
    font-size: 9px;
}

#desglose td {    
    padding: 0px;
}

.vlz_carrousel {
    width: 1400px;
    height: 300px;
    margin: 60px auto;
    top: 50%;
    margin-top: -150px;
}


.comprar_descripcion {
    position: relative;
    left: 24%;
    width: 100%;
    padding: 20px;
    background: #FFF;
    top: 80%;
    font-size: 18pt;
    z-index: 2;
}
#derecha {
    font-size: 20pt;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    padding: 8px;
    margin-top: 10%;
    margin-left: 55%;
}
#izquierda {
    font-size: 20pt;
    /* background: #a09696; */
    width: 40px;
    height: 40px;
    border-radius: 30px;
    padding: 8px;
    margin-top: 10%;
    margin-left: 20%;
}

}  
@media all and (max-width:959px) and (min-width:600px) {
    table #desglose {
        width: 50%;
        font-family: caviar_dreamsregular;
    }
    .cintillo_factura #cen {
        height: 15px;
        margin: 25px auto;
    }
    .cintillo_factura #der {
        /* float: right; */
        height: 50px;
        margin: 20px;
    }

    .cintillo_factura #izq {
        /* float: left; */
        height: 50px;
        margin: 20px;
    }

    #desglose th{    
        text-align: left;
        background-color: #930e9e;
        color: #FFF;
        padding: 10px 10px;
        font-size: 9px;
    }

    #desglose td {    
        padding: 0px;
    }

    .vlz_carrousel {
     width: 1400px;
    height: 300px;
    margin: 60px auto !important;
    top: 39% !important;
    margin-top: -74px;
    margin-left: -22% !important;
    }


    .comprar_descripcion {
    position: relative;
    left: 24%;
    width: 100%;
    padding: 20px;
    background: #FFF;
    top: 133% !important;
    font-size: 18pt;
    z-index: 2;
    }
    #derecha {
        font-size: 20pt;
        width: 40px;
        height: 40px;
        border-radius: 30px;
        padding: 8px;
        margin-top: 10%;
        margin-left: 38%;
    }
    #izquierda {
        font-size: 20pt;
        /* background: #a09696; */
        width: 40px;
        height: 40px;
        border-radius: 30px;
        padding: 8px;
        margin-top: 10%;
        margin-left: 20%;
    }
    
}

@media (max-width:599px) and (min-width:200px) {
  
    table #desglose {
        width: 50%;
        font-family: caviar_dreamsregular;
    }
    .cintillo_factura #cen {
        height: 15px;
        margin: 25px auto;
    }
    .cintillo_factura #der {
        /* float: right; */
        height: 50px;
        margin: 20px;
    }

    .cintillo_factura #izq {
        /* float: left; */
        height: 50px;
        margin: 20px;
    }

    #desglose th{    
        text-align: left;
        background-color: #930e9e;
        color: #FFF;
        padding: 10px 10px;
        font-size: 9px;
    }

    #desglose td {    
        padding: 0px;
    }
    .comprar_descripcion {
        position: relative;
        left: 8%;
        width: 100%;
        padding: 20px;
        background: #FFF;
        top: 77%;
        font-size: 14pt;
        z-index: 2;
    }


    .vlz_carrousel {
    width: 1400px;
    height: 300px;
    margin: 60px auto;
    top: 50%;
    margin-top: -150px;
}


.comprar_descripcion {
    position: relative;
    left: 24%;
    width: 100%;
    padding: 20px;
    background: #FFF;
    top: 80%;
    font-size: 18pt;
    z-index: 2;
}
#derecha {
    font-size: 20pt;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    padding: 8px;
    margin-top: 10%;
    margin-left: 55%;
}
#izquierda {
    font-size: 20pt;
    /* background: #a09696; */
    width: 40px;
    height: 40px;
    border-radius: 30px;
    padding: 8px;
    margin-top: 10%;
    margin-left: 20%;
}

.comprar_box {  
    position: absolute;
    top: 0px;  
    width: 100%;
    height: calc( 100% - 72px );
}

}


@media (max-width: 614px) and (min-width: 200px){

    .vlz_carrousel {
        width: 1400px;
    height: 300px;
    margin: 60px auto;
    top: 60%;
    margin-top: -6px;
    margin-left: -132%; 
    }


    .comprar_descripcion {
            position: relative;
        left: 7% !important;
        width: 100%;
        padding: 20px;
        background: #FFF;
        top: 80%;
        font-size: 18pt;
        z-index: 2;
        margin-left: -4% !important;
    }
    #derecha {
        font-size: 20pt;
        width: 40px;
        height: 40px;
        border-radius: 30px;
        padding: 8px;
        margin-top: 18%;
        margin-left: 17% !important;
    }
    #izquierda {
              width: 1400px;
    height: 300px;
    margin: 60px auto;
    top: 60%;
    margin-top: -6px;
    margin-left: -132%;
    }

}


@media all and (max-width:599px) and (min-width:359px){
    #plan > div {
        position: relative;
        display: block;
        margin: 0px auto;
        max-width:  469px;
        overflow: unset !important;
        height: 420px !important;
        top: 50%;
        margin-top: -250px;
        width: 100%;
    }

    .comprar_footer {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: 30px 15px;
        background: #FFF;
        #border-top: solid 3px;
        text-align: center;
    }
    




}

@media all and (max-width:620px) and (min-width:490px){
    #plan > div {
    position: relative;
    display: block;
    margin: 0px auto;
    max-width:  469px;
    overflow: unset !important;
    height: 420px !important;
    top: 50%;
    margin-top: -250px;
    width: 100%
    }

    .vlz_carrousel {
      width: 1400px;
        height: 300px;
        /* margin: 60px auto; */
        top: 50%;
        margin-top: -30px;
        margin-left: -68%;
    }


    .comprar_descripcion {
          position: relative;
    left: 10%;
    width: 100%;
    padding: 20px;
    background: #FFF;
    top: 89% !important;
    font-size: 18pt;
    z-index: 2;
    }
    #derecha {
        font-size: 20pt;
        width: 40px;
        height: 40px;
        border-radius: 30px;
        padding: 8px;
        margin-top: 7%;
        margin-left: 27%;
    }
    #izquierda {
            font-size: 20pt;
    /* background: #a09696; */
    width: 40px;
    height: 40px;
    border-radius: 30px;
    padding: 8px;
    margin-top: 10%;
    margin-left: 31% !important;
    }

}

@media (max-width: 991px) and (min-width: 768px){
    .vlz_carrousel {
             width: 1400px;
    height: 300px;
    margin: 60px auto;
    top: 62%;
    margin-top: -24%;
    margin-left: -38% !important;
    }

    .comprar_descripcion {
        position: relative;
        left: 24%;
        width: 100%;
        padding: 20px;
        background: #FFF;
        top: 80%;
        font-size: 18pt;
        z-index: 2;
    }
    #derecha {
          font-size: 20pt;
        width: 40px;
        height: 40px;
        border-radius: 30px;
        padding: 8px;
        margin-top: 10%;
        margin-left: 37%;
    }
    #izquierda {
            font-size: 20pt;
        /* background: #a09696; */
        width: 40px;
        height: 40px;
        border-radius: 30px;
        padding: 8px;
        margin-top: 10%;
        margin-left: 27%;
    }
}
   


#content-primary {
    padding-top: 0px !important;
}