#fecha{
	cursor: pointer;
}

.datepick-month td a{
	cursor: default;
}

.disabled {
    background: #CCC !important;
    color: #000 !important;
    text-shadow: 0px 0px !important;
    border: solid 1px #CCC !important;
    box-shadow: 0px 0px !important;
}

.alerta{
	margin: 15px 0px;
    font-size: 12px;
    background: #ffe56d;
    padding: 10px;
    border-radius: 3px;
}

.alerta span{
	font-weight: 600;
}

.precio{
    margin:2px;
    border-radius:25px;
    padding:1px 8px 1px 5px;
    background-color:#ccc;
    font-weight:bold;
}