table.dataTable th,
.dataTables_length *,
.dataTables_filter *
 {
    font-size: 11px !important;
}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    font-size: 12px !important;
}
.table thead th {
    border-bottom: 1px solid #e9ecef !important;
}

.dataTables_info,
.pagination * {
    font-size: 10px !important;
}

.container_listados {
	padding: 0px;
}

#wpcontent, #wpfooter {
    /*margin-left: 140px !important;*/
}

.table th, .table td {
    padding: 8px;
}

body, html {
    height: auto !important;
    margin: 0;
    padding: 0;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 10px 0 0 !important;
}

input.readonly, input[readonly], textarea.readonly, textarea[readonly] {
    background-color: #f6f6f6;
    border: solid 1px #CCC;
}

.enlaces {
	color: #158acd;
	cursor: pointer;
	font-weight: 600;
}

.titulos{
    padding-right: 15px;
    padding-left: 15px;
}

.titulos h2{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 30px;
    font-weight: 400 !important;
}

.sub_titulo{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 600 !important;
    padding: 5px 0px;
    border-bottom: solid 1px #CCC;
    margin-bottom: 5px;
}

.modal {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 999999999999999999;
	background: rgba(0,0,0,0.8);
	display: none;
	text-align: center;
    overflow: auto;
    padding: 0px 20px;
}

.modal > div {
	display: block;
	margin: 20px auto;
	text-align: left;
	background: #FFF;
	padding: 20px;
	max-width: 600px;
	border-radius: 5px;
	box-sizing: border-box;
	position: relative;
}

.modal > div > span {
	border-bottom: solid 1px #CCC;
    display: block;
    padding: 0px 0px 5px;
    font-weight: 600
}

.modal > div > div {
    display: block;
    padding: 5px 0px 0px;
    font-size: 14px;

}

a:focus, a:focus .media-icon img {
    -webkit-box-shadow: 0 0 0 0px #FFF !important;
    box-shadow: 0 0 0 0px #FFF !important;
}

#close_modal {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.container_listados{
    margin: 20px 20px 0px 0px;
}

.botones_container {
    margin: 0px 15px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
}

.table th, .table td{
    vertical-align: middle !important;
}

.enlace{
    cursor: pointer;
    color: blue;
}

.enlace:hover{
    font-weight: 600;
}

.celdas_1 .input_box > label {
    display: block;
    font-weight: 600;
    cursor: default !important;
}

.celdas_1 .input_box > input,
.celdas_1 .input_box > select
{
    width: 100%;
    box-sizing: border-box;
}

.celdas_1,
.celdas_2,
.celdas_3 {
    overflow: hidden;
}

.celdas_3 .input_box > label {
    display: block;
    font-weight: 600;
    cursor: default !important;
}

.celdas_3 .input_box
 {
    float: left;
    width: 33.333333%;
    box-sizing: border-box;
    padding: 3px;
}

.input_text_container
 {
    overflow: hidden;
}

.celdas_2 .input_text_container .input_text
 {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 3px;
}

.celdas_4 .input_text_container .input_text
 {
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding: 3px;
}

.celdas_4 .input_text_container .input_text
 {
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding: 3px;
}

.input_text_container .input_text input,
.input_text_container .input_text select
{
    width: 100%;
}

.botonera_container {
    border-top: solid 1px #CCC;
    margin: 5px 0px 0px;
    padding: 15px 0px 0px !important;
    text-align: right;
}

.celda_1_3{
    width: 66.6666667% !important;
}