#myDiagramDiv{
	background-color: white; 
	border: solid 0px #cfcfcf; 
	height: 500px;	
	display:none;
}

#cargando_estructura{
    width: 100%;
    text-align: center;
    top: 20%;
    margin: 0 auto;
    padding: 10% 0px;
    display: block;
}