.atras:hover, .btn-sm-kmibox:hover, .btn-sm-kmibox-price:hover, .btn-kmibox:hover {
    color: #00577b !important;
    border: 2px solid #00577b;
}

.btn-kmibox {
    background: #00577b;
}

.nav_container > ul > li a {
    background: #00577b;
    border: 2px solid #00577b;
}

.nav_container > ul > li a:hover {
    color: #00577b;
    border: 2px solid #00577b;
}

#section-comment {
    background: #00577b;
}

#home-dog > div {
    background: #00577b;
}
#footer {
    background: #3f3d3e;
}

#contacto-ayuda {
    border-bottom: 9px solid #00577b;
}

#home-dog {
    border-bottom: 15px solid #00577b;
}

#como-funciona > div > div > img {
    margin-bottom: 5%;
    background: #00577b;
}

#como-consigo-kmibox img {
    background: #00577b;
}

#regalasela-amigo img {
    background: #00577b;
}

.atras {
    background: #00577b;
    border: 1px solid #00577b;
}

.btn-sm-kmibox {
    background: #00577b;
}

#btn-register_{
    color: #FFF; 
    border: 2px solid #00577b;
}

#register i.fa-asterisk:before {
    color: #00577b;
}

.campos-obligatorios span {
    color: #00577b;
}

.acciones_container button {
    border: 2px solid #00577b;
}

.perfil_tabs li {
    background: #222222;
}

.perfil_tabs li.tab_activo {
    background-color: #00577b;
    color: #ffffff;
}

.perfil_tabs li.tab_activo:hover {
    color: #000000;
}

.perfil_tabs li:hover {
    color: #00577b;
}

.progress-content img {
    background-color: #00577b;
}

#vlz_atras,
.btn_siguiente_container button {
    background: #00577b;
    border: 1px solid #00577b;
}

#vlz_atras:hover,
.btn_siguiente_container button:hover {
    color: #00577b;
    background: #FFF;
    border: 2px solid #00577b;
}

.selector_edad_container .selector_edad_box span {
    background: #00577b;
}

.selector_edad_container .selector_edad_box span:hover {
    background: #222222;
}

.selector_edad_container .selector_edad_box span.btn_activo {
    background: #222222 !important;
}

#modal-contacto-marca .modal-content {
    background-color: #00577b;
}

#modal-contacto-marca .modal-content {
    background-color: #00577b;
}

#modal-contacto-marca .modal-body p span {
    color: #222222;
}

.carrousel-items article div p {
    border-top: solid 2px #00577b;
}

#modal-contacto-marca .modal-header {
    border-bottom: 3px solid #ffffff;
}

#marca > div.item_activo > .item_box {
    border: solid 2px #00577b;
}

#plan img {
    background-color: #00577b !important;
}

.personalizar_plan {
    background: #00577b;
}

.personalizar_plan_columna div {
    color: #222;
}

#nutri-container{
    background: #00577b;
}

.input-pop-up-home {
    border: solid 2px #00577b;
}

.btn-pop-up-home {
    background: #00577b;
    border: 2px solid #00577b;
}

.cintillo_factura #cen {
    background-color: #00577b;
}

#desglose th span {
    background-color: #00577b;
}

.btn_pagar {
    background: #00577b;
    border: 1px solid #00577b;
    border: solid 2px #00577b;
}

.btn_pagar:hover {
    background: #FFF;
    color: #00577b;
    border: solid 2px #00577b;
}

#agregar_plan {
    border: solid 2px #00577b;
    color: #00577b;
}

#agregar_plan:hover {
    color: #FFF;
    background: #00577b;
}

#vlz_controles_fases > span {
    background-color: rgba(235, 1, 138, 0.5);
}

#vlz_controles_fases span.fase_activa {
    background-color: #00577b;
}

#totales table td {
    color: #222;
}

.text-felicidades {
    color: #00577b;
}

#pago_exitoso h2 {
    color: #00577b;
}

.LoginNuevo {
    background-color: #00577b;
}

.btn-kmibox-white {
    background: #00577b;
    border: 1px solid #00577b;
    text-transform: uppercase;
}

.btn-kmibox-white:hover {
    color: #00577b;
}

#logo {
    background-image: url(../imgs/alsea.png) !important;
    height: 75px;
}

#logo_footer {
    height: 80px;
    background-image: url(../imgs/alsea.png) !important;
}


#pagar nav {
    background-color: #f30617;
}

.desglose_direccion {
    background: #f30617;
}

.btn-pagar {
    background-color: #00577b;
    border: solid 1px #00577b;
}

.form_total_monto {
    color: #00577b;
}

.totales > div > span {
    color: #00577b;
}