@media (max-width: 1040px){
	#pago_exitoso {
	    margin: 3% 20px 0px;
	    width: calc( 100% - 40px );
	    border-radius: 10px !important;
	    padding: 10px !important;
	}

	.fecha_vencimiento span {
	    display: block;
	    float: none;
	    text-align: left;
	}

	.form_btn_container span {
		display: block;
    	float: right;
    	padding-top: 20px;
	}
}


@media (max-width: 770px) {

	#vlz_atras {
	    width: 85px;
	    font-size: 10px;
	}

	#vlz_titulo {
	    width: calc( 100% - 230px );
	    left: 0px;
	    width: 100%;
	    text-align: center;
	    font-family: GothanMedium_regular;
	    font-size: 16px;
	    font-weight: bold;
	}

	.input_container {
	    max-width: 100%;
	}

	.fecha_vencimiento span {
	    float: left;
	}

}

@media (max-width: 650px){
	.desglose_final th div {
	    font-size: 12px;
	}
	.desglose_final td {
	    font-size: 10px;
	}
	.desglose_final td img {
	    height: 60px;
	    margin-left: 10px;
	}
}

@media (max-width: 500px){

	.form_btn_container span {
	    float: none;
	}

	.lock {
	    width: 20px;
	    vertical-align: baseline;
	    margin: 0px auto 10px;
	    display: block;
	    text-align: center;
	}

	.pago_titulo {
	    font-size: 20px;
	    margin-bottom: 10px;
	    text-align: center;
	    text-transform: uppercase;
	}

	.fecha_vencimiento {
		text-align: center;
	}

	.fecha_vencimiento span {
	    display: block;
        text-align: center;
	    float: none;
	}

	.form_info {
	    text-align: center;
	    padding: 0px 10px 10px;
	}

	.form_total {
	    text-align: center;
	}

	.form_total_monto {
	    padding: 0px 0px 10px;
	    text-align: center;
	}

	.form_btn_container {
	    padding: 5px;
	}

	.btn-pagar {
	    max-width: 200px;
	    padding: 10px 0px !important;
	    display: block;
	    margin: 0px auto 20px;
	}

	.form_btn_container {
	    padding: 5px 5px 20px;
	    text-align: center;
	}

	.pago_subtitulo {
	    font-size: 17px;
	    text-align: center;
	    padding-bottom: 10px;
	}

	.errores_box {
	    text-align: left;
	    font-size: 12px;
	}

	.desglose_final td {
	    border-right: solid 1px #CCC;
	    padding: 5px;
	}

	.desglose_final td img {
	    height: 120px;
	    margin-bottom: 10px;
	}

	table.desglose {
	    margin: 0px;
        width: 100%;
	}

	.text-felicidades {
	    font-size: 25px;
        margin-bottom: 10px;
	}

	.text-suscripcionexitosa {
	    font-size: 14px;
        margin-bottom: 10px;
	}

	.text-tususcripcion {
	    font-size: 14px;
        margin-bottom: 10px;
	}

	.text-quedebohacer{
		font-size: 14px;
	}

	.text-pasos{
		font-size: 14px;
	}

	.solo_pc{
		display: none !important;
	}

	.solo_movil{
		display: block !important;
	}

	.desglose_final td.info > div {
	    text-align: left !important;
	}

	.col-xs-12, .col-md-6, .col-md-12 {
	    padding-right: 0px !important;
	    padding-left: 0px !important;
	}

	.btn-sm-kmibox {
	    font-size: 12px;
	}

	.form_total {
	    font-size: 15px;
	}

	.form_total_monto {
	    font-size: 22px;
	}

	.form-control {
	    padding: 6px 8px;
	}

	.container {
	    padding: 0px;
	}

	.contenedor_formulario{
	    padding: 0px;
	}

	.input_container {
	    padding: 0px 15px;
	}

	nav .atras {
        float: left;
	    border: 1px solid #ffffff;
	    text-transform: uppercase;
	    cursor: pointer;
	    z-index: 99999999999999;
	    position: relative;
	    padding: 3px;
	    font-size: 10px;
	    width: 65px;
	    left: 0px;
	}

	nav .titulo_h1 {
	    padding: 0px 0 0;
	    margin: 0px;
	    left: 0px;
	    font-size: 14px;
	}

	nav {
	    padding: 20px 10px 20px;
	}

	.logo_final img {
	    max-width: 80%;
	}

	.desglose .item_total {
	    width: auto;
	    text-align: left;
	    font-family: GothanMedium_regular;
	    color: #091705;
	}

}

@media (max-width: 400px){

	#vlz_titulo {
	    font-size: 12px;
	    top: 45px;
	}

}

@media (max-width: 360px){

	.text-felicidades {
	    font-size: 20px;
	}

	.text-suscripcionexitosa {
	    font-size: 11px;
	}

	.text-tususcripcion {
	    font-size: 12px;
        margin-bottom: -10px;
	}

	.text-pasos{
		font-size: 12px;
	}

}


@media (max-width: 350px){

	#vlz_titulo {
	    font-size: 12px;
	    width: calc( 100% - 20px );
	}

}
