/*****************************************************************
			MIN-WIDTHs
/*****************************************************************/


@media (min-width: 1400px){
	i#anterior {
	    left: 0px;
	}

	i#siguiente {
	    right: 0px;
	}

	.busqueda .input-group{
		width: 45%;
		margin: 0 auto;
	}
}

@media (min-width: 768px) {

    .btn_siguiente_container {
	    margin-top: 5px;
	}
}


/*****************************************************************
			MAX-WIDTHs
/*****************************************************************/



@media (max-width: 1100px){
	#marca > div {
	    width: 20%;
	    height: 20%;
	}
	.busqueda .input-group{
		width: 50%;
		margin: 0 auto;
	}
}

@media (max-width: 1000px){
	.carrusel_2{
	    width: 70%;
	}
	.carrusel_2 > div {
	    max-width: 33.334%;
	}

	i#anterior {
	    left: 0px;
	}

	i#siguiente {
	    right: 0px;
	}
}

@media (max-width: 992px){
	.select_plan div{
	    font-size: 14px;
	    line-height: 20px;
	}
	.busqueda .input-group{
		width: 60%;
		margin: 0 auto;
	}
}

@media (max-width: 950px){

	.selector_producto_container {
	    height: 280px;
	}

	.carrusel_container {
	    height: calc( 100% - 315px );
	}

	.selector_producto_container {
	    height: 210px;
	}

	.selector_producto_box {
	    position: absolute;
	    top: 45px;
	    left: 120px;
	}

	.selector_producto_container label {
	    font-size: 15px;
	    padding: 10px 0px;
	    top: 45px;
	    left: 10px;
	}

}

@media (max-width: 900px){

	.selector_edad_container .selector_edad_box span {
	    font-size: 22px;
	    min-width: 210px;
	}

	.select_plan_box {
	    padding: 0px;
	    height: 100%;
	}

	.select_plan_box article {
	    width: 49%;
	    padding: 0px 80px;
	}

    /* Presentaciones */

    	#presentaciones .img_box {
		    width: 150px;
		}

		.info_producto_container {
		    width: calc( 100% - 150px );
		}

		#presentaciones .title_producto_box {
		    font-size: 20px;
		}

		#presentaciones .descripcion_producto_box,
		#presentaciones .peso_producto_box {
		    font-size: 18px;
		}



	#desglose th span {
	    display: block;
	    text-align: center;
	    background-color: #181E0D;
	    color: #FFF;
	    padding: 3px 10px;
	    text-transform: uppercase;
	    margin: 2px 2px 0px;
	}

	#desglose th * {
	    font-size: 9px;
	}
}

@media (max-width: 780px){
	.busqueda .input-group{
		width: 80%;
		margin: 0 auto;
	}
	.modal-dialog {
	    width: 95%;
	}

	.opciones_pago label {
		font-size: 10px;
	}

	#marca > div {
	    width: 33.333333334%;
	    height: 25%;
	}

	#marca > div > .item_box:hover {
		background: #FFF;
	}

	#abajo_marcas,
	#arriba_marcas {
		display: inline-block;
		z-index: 101;
	}
}




@media (max-width: 769px) {


	#prueba{
		position: relative;
		top: 19px;
	}
	.carrousel-items-containers {
		height: calc( 100% - 155px );
	    margin: 85px 0px 0px;
	}

	.carrousel-items > article {
	    width: 100%;
	    padding: 3px 0px 3px;
	    height: 33.3333334%;
	}

	.carrousel-items article div p {
	    font-size: 10px;
	}

	.carrousel-items > article > div {
	    max-width: 150px;
	}

	.carrousel-items > article > div > div {
	    background-position: center;
	}

	.carrousel-items > article > div > div {
	    height: calc( 100% - 20px );
	    margin: 0px auto 3px;
	}

	.selector_edad_container .selector_edad_box span {
	    min-width: 150px;
        margin: 0px 3px;
	    font-size: 11px;
	    padding: 7px 5px 4px;
	}

	.selector_edad_container .selector_edad_box span {
	    font-size: 11px;
	    padding: 7px 5px 4px;
	    min-width: 110px;
	    margin: 0px 3px;
	}

	.selector_edad_container{
        height: 70px;
	}

	.selector_edad_container label {
	    font-size: 12px;
	}

	.solo_movil{
		display: block;
	}

	

	.solo_pc{
		display: none;
	}

	#vlz_atras {
	    width: 85px;
	    font-size: 10px;
	}

	#vlz_titulo {
	    top: 45px;
	    width: 93%;
	    text-align: center;
	    font-family: GothanMedium_regular;
	    font-size: 16px;
	    font-weight: bold;
	}

    .header_titulo {
        font-size: 15px!important;
    }


    /* Marcas */

    	#marca {
		    margin: 0px;
		}

    	#marca > div {
		    width: 33.3334%;
		}

		.controles_marca_container {
		    margin: 75px 73px 0px 20px;
		    overflow: hidden;
		}

		.cantidad_resultados {
		    font-size: 15px;
		}

		#tipo_mascota {
		    font-size: 12px;
		}

    /* Presentaciones */

    	#presentaciones {
		    margin: 0px;
		}

    	#presentaciones > div {
		    width: 100%;
		    height: 40.3333%;
		}

    	#presentaciones .img_box {
		    width: 180px;
		}

		.info_producto_container {
		    width: calc( 100% - 180px );
		}

		#presentaciones .title_producto_box {
		    font-size: 24px;
		}

		#presentaciones .descripcion_producto_box,
		#presentaciones .peso_producto_box {
		    font-size: 22px;
		}

    /* Planes */

		#plan article {
		    width: calc( 50% - 2px );
		    padding: 0px 70px;
		}
}

@media (max-width: 680px){
	.busqueda .input-group{
		width: 90%;
		margin: 0 auto;
	}
	.carrusel_2{
	    width: 70%;
	}
	.carrusel_2 > div {
	    max-width: 100%;
	}

	#desglose td *{
		font-size: 11px;
	}

	#prueba{
		position: relative;
		top: 50px;
	}

}

@media (max-width: 600px){

	.msg_desplazar {
	    bottom: 50px;
	}

	#agregar_plan {
		display: block;
	    margin: 25px auto 20px;
	    font-size: 13px;
	    width: 240px;
	    padding: 10px 0px 5px;
	}

	.btn_pagar {    
		display: inline-block;
	    font-size: 13px;
	    width: 240px;
	    padding: 10px 50px 5px;
	}

	.btn-kmibox-link-suscription i {
	    font-size: 15px;
	    margin-right: 5px;
	}

	.factura {
	    margin: 150px auto 50px;
	}

	#desglose td {
	    /*padding: 5px 10px;*/
	}

	.carrusel_2 > div img {
	    height: calc( 100% - 40px );
	}

	.title_producto_container {
	    height: 30px;
	}

	.carrusel_2 > div .title_producto_box {
	    font-size: 12px;
	}

	.carrusel_2 > div,
	.carrusel_2 .item_box,
	.carrusel_2 > div .img_box {
        height: 100%;
    	width: 100%;
	}

    /* Planes */

		#plan article {
		    padding: 0px 30px;
		}

	/* Desglose */

		#desglose th span{
			padding: 7px 20px 4px;
		}

}

@media ( max-width: 500px ) {

	.msg_desplazar {
	    bottom: 50px;
	    text-align: center;
	    font-size: 12px;
	    width: 100%;
	    left: 0px;
	}

	#abajo_marcas,
	#arriba_marcas {
		z-index: 102;
	}

    /* Planes */

		#plan article {
		    padding: 0px;
		}

		.plane article img{
			max-width: 78%;
		}

		.select_plan div {
			font-size: 13px;
		    line-height: 17px;
		    height: 90px;
		}

		#plan #nivel {
		    height: auto;
		}

	.carrousel-items > article {
	    height: 33.333333%;
	}

	.titulo_planes {
	    top: 41px !important;
	    font-size: 13px !important;
	}

	.carrousel-items article div p {
	    font-size: 10px;
	}

	#vlz_controles_fases > span > span {
	    position: absolute;
	    left: -42px;
	    top: -1px;
	    font-size: 9px;
	}

	.comprar_container {
    	position: relative;
	}

	.selector_producto_container {
	    height: 165px;
	}

	.selector_producto_container label {
	    font-size: 11px;
	    top: 30px;
	    left: 10px;
	}

	.selector_producto_box {
	    top: 30px;
	    left: 90px;
	}

	#nombre_producto {
	    font-size: 24px !important;
	}

	#descripcion_producto {
	    font-size: 12px !important;
	}

	.carrusel_container {
		top: 90px;
	    height: calc( 100% - 260px );
	}

	.selector_producto_footer {
	    padding: 10px;
	    font-size: 15px;
	}

	#siguiente_pantalla {
	    font-size: 12px;
	    position: absolute;
	    bottom: 50px;
	    right: calc( 50% - 100px );
	}

	#vlz_controles_fases {
	    right: 0px;
	}

	.selector_presentaciones span {
	    padding: 5px 10px;
	}

	.select_plan_box {
	    padding: 0px;
	}

	.select_plan div {
	    font-size: 13px;
	}

	#desglose th *{
		font-size: 10px;
	}

    #vlz_controles_fases span {
	    display: block;
	    margin: 0px auto 5px;
	    width: 10px;
	    height: 10px;
	}

	.select_plan_box article {
	    vertical-align: top;
	}

	#desglose th * {
	    font-size: 8px;
	}

	#desglose td * {
	    font-size: 14px;
	}

	#totales table th {
	    font-size: 9px;
	}

	#totales table td {
	    font-size: 9px !important;
	    width: 150px !important;
	}

	.factura {
	    margin: 100px auto 10px;
	}

	.cantidad_controls i {
	    text-align: center;
	}

	.cantidad_controls label {
	    text-align: center;
	}

	.cantidad_controls label {
	   	font-size: 13px !important;
	}

	.cantidad_controls i{
	   	font-size: 13px !important;
	}

	/* Marca */

		#marca {
		    
		}

		#marca > div {
		    width: 50%;
		}

		.cantidad_resultados {
		    font-size: 11px;
		    padding: 15px 0px 0px;
		}

		#tipo_mascota {
		    font-size: 10px;
		    margin-top: 10px;
		}

		.controles_marca_container {
		    margin: 80px 20px 0px 20px;
		}

		.btn_siguiente_container {
		    padding: 0px 10px;
		    margin: 4px 0px 3px;
		    font-size: 12px;
		}

		.btn_siguiente_container button {
	        font-size: 12px;
	    	padding: 3px 25px;
	    	margin: 5px;
		}

    /* Presentaciones */

    	#presentaciones .img_box {
		    width: 150px;
		}

		.info_producto_container {
		    width: calc( 100% - 150px );
		}

		#presentaciones .title_producto_box {
		    font-size: 20px;
		}

		#presentaciones .descripcion_producto_box,
		#presentaciones .peso_producto_box {
		    font-size: 18px;
		}

	/* Desglose */

		.total_en_cantidad{
			font-size: 10px !important;
		}

} 

@media (max-width: 400px){

	.msg_desplazar {
	    font-size: 11px;
	}

	#vlz_titulo {
	    top: 55px;
	    font-size: 12px;
	}

	.selector_edad_container .selector_edad_box span {
	    font-size: 10px;
	    padding: 5px 5px 2px;
	    min-width: 100px;
	    margin: 0px !important;
	}

    /* Presentaciones */

		#presentaciones .title_producto_box {
		    font-size: 16px;
		}

		#presentaciones .descripcion_producto_box,
		#presentaciones .peso_producto_box {
		    font-size: 14px;
		}

    /* Planes */

		.select_plan div {
		    font-size: 13px;
		}
}

@media (max-width: 350px){

	#vlz_titulo {
	    top: 54px;
	    font-size: 12px;
	    width: calc( 100% - 20px );
	}

	.selector_edad_container .selector_edad_box span {
	    min-width: 75px;
	}

    /* Plan */

	    .select_plan div {
		    font-size: 11px;
		}

    /* Presentaciones */

    	#presentaciones .img_box {
		    width: 85px;
		}

		.info_producto_container {
		    width: calc( 100% - 85px );
		}

		#presentaciones .title_producto_box {
		    font-size: 16px;
		}

		#presentaciones .descripcion_producto_box,
		#presentaciones .peso_producto_box {
		    font-size: 14px;
		}
}