.backdrop-popup {
    background: rgba(0,0,0,0.9);
    margin: 0 auto;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0;
    z-index: 999;
}
.backdrop-popup i{
    font-size: 25px;
    color: white;
    position: absolute;
    right: 0px;
}
.backdrop-popup div{
    top: 7%;
}
.backdrop-popup {
    display: table;
}