
/* ************************* *
 * General
 * ************************* */
 #contacto-ayuda{
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 10;
	background: #fff;
	margin: 0px;
    border-bottom: 9px solid #4EFF00;
    border-top: 1px solid #ccc;
    padding-top:5px;
    background: #fff url(../imgs/contacto-ayuda/background.png) no-repeat left bottom;
}

#contacto-ayuda article{
	display: inline-block!important;
	vertical-align: middle!important;
}


/* ************************* *
 * Seccion #1 - Imagenes 
 * ************************* */
#contacto-ayuda .ayuda-imagen{
    width: 21%;
    text-align: center;
    vertical-align: bottom;
}
#contacto-ayuda .ayuda-imagen img{
	width: 80%;
}

/* ************************* *
 * Seccion #2 - Textos 
 * ************************* */
#contacto-ayuda .ayuda-texto{
	width: 51%;
	margin: 0 auto; 
}
#contacto-ayuda .ayuda-texto h2{
	color: black;
	margin-left: 20px;
	/*font-size: 32px;*/
	font-size: 300%;
}
#contacto-ayuda .ayuda-texto h2 span{
	color: #0da900;
}


/* *************************
 * Seccion #3 - Formulario
 * ************************* */
#contacto-ayuda .ayuda-form{
	width: 27%;
    text-align: center;
}
#contacto-ayuda .ayuda-form form{
	margin: 0px; 
}
#contacto-ayuda .ayuda-form button{
	font-size: 15px!important;
    padding: 2px 20px 2px 20px!important;
    margin-top: 0!important;
}
#contacto-ayuda .ayuda-form .form-control{
	width: 80%;
	margin: 5px auto;
	height: 40px;
	border-radius: 25px;
	border: 2px solid #848383;
}
