input::-webkit-input-placeholder {
    color: #868e96;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: #868e96;
    opacity: 1;
}
input::placeholder {
    color: #868e96;
    opacity: 1;
}

#content-primary {
	padding-top: 0px;
}

nav {
	width: 100%;
	box-sizing: border-box;
	background-color: #ffffff;
    z-index: 9999999999999999999999;
}

.nav_container {
  /*  position: relative;*/
    display: table;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 10px;
    max-width: 1180px;
    width: 100%;
    margin-top: 5%;
}

.nav_container > a {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}

.nav_container > a > img {
	transition: all .5s ease-in-out;
}

.nav_container > ul {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

.nav_container > ul > li {
	list-style: none;
	display: inline-block;
}

.nav_container > ul > li a {
    background: #091705;
    padding: 17px 40px;
    border-radius: 50px;
    border: 2px solid #091705;
    color: #fff;
    text-decoration: none;
    display: block;
}

.nav_container > ul > li a:hover {
    background: #FFF;
    color: #000000;
}

#btn-register_{
    color: #94d400; 
    border: 2px solid #091705;
}