.input-pop-up-home-x{
    width: calc( 50% - 10px );
    display: inline-block;
    border: solid 2px #0d1804 !important;
    border-radius: 20px;
    outline: none;
    box-shadow: 0px 0px 0px #000;
}

body{
    padding-bottom: 180px;
    overflow: hidden;
}

section{
	margin-bottom: 30px;
}
.mayusculas{
	text-transform: uppercase;
}

/* header */

#header div:nth-child(2) {
	margin: 10% 0 0 0;
}

#header h2{
	font-family: caviar_dreamsregular; 
	color: #181E0D;
}

#header a{
	margin-bottom: 2%; 
	font-family: GothanMedium_regular;
	padding: 22px 92px;
	font-size: 32px;">
}

/* section-comment */

#section-comment h3{
	font-size: 24px; 
	font-family: Gothamlight_Regular;
}

/* como-funciona */
#como-funciona {
	margin-top: 5%;
}
#como-funciona p{
	font-family: GothanMedium_regular;
	font-size: 20px;
}
#como-funciona > div{
	margin-top: -3%;
}

#como-funciona > div > div > img{
	margin-bottom: 5%;
    background: #9bff00;
}

.border-lateral{
	border-left: 2px solid #f3ecec;
    border-right: 2px solid #f3ecec;
}

/* home-opciones */
#home-opciones > label {
	color: #ebb931;
	font-size: 20px;
	font-family: PoetsenOne_Regular;
	margin-left: -5%;
}
#home-opciones > label{
}

#home-opciones > div > label span{
	color: #000000!important;
}

#home-opciones p {
	color: #000!important;
	text-align: center;
    font-weight: normal;
    font-size: 23px;
    font-family: Gothamlight_Regular!important;
}
#home-opciones > div > label {
    color: #ebb931;
    font-weight: bold;
    font-size: 41px;
    font-family: PoetsenOne_Regular;
	text-align: center; 
	max-width: 100%;
    margin-bottom: 5px;	
}

/* como-consigo-kmibox */

#como-consigo-kmibox h2{
	color: #000000;
	font-weight: bold;
	font-size: 34px;
	font-family: GothanMedium_regular;
}

#como-consigo-kmibox .marca-circle
{
	padding: 0px 9px;
}
#como-consigo-kmibox .marca-circle_2 {
	padding: 0px 7px!important;
}

#como-consigo-kmibox .marca-circle_2,
#como-consigo-kmibox .marca-circle{
	font-size: 22px;
	color: #000000;
	font-family: PoetsenOne_Regular;
	border: 3px solid #091705;
	border-radius: 27px;
}

.margin{
	    margin-left: 7% ! important;
}

#como-consigo-kmibox img,
#regalasela-amigo img{
    background: #9bff00;
}

#como-consigo-kmibox p{
	margin-left: 20px;
	font-size: 20px;
	color: #878a87;
	font-family: Gothamlight_Regular;
	/*margin-top: 15px;*/
}

#como-consigo-kmibox div .row {
	margin: 50px 0px 30px 0px;
}
#como-consigo-kmibox label{
	text-align: center;
    font-size: 171%;
    font-weight: normal;
    font-family: Gothamlight_Regular;
    color: #878a87;
   /* margin-top: 20px;*/
}


/* home-dog */

#home-dog{
	border-bottom:15px solid #4EFF00;
}
#home-dog > div{
	color:#ffffff;	
	background: #181E0D;
	padding: 25px 0px 25px 0px;
}
#home-dog > div h4{
	color:#ffffff; 
	font-size: 48px; 
	font-family: PoetsenOne_Regular; 	
}
#dog {
	height: 300px;
	background-size: cover!important;
} 

/* regalasela-amigo */

#regalasela-amigo h2{
	color:#000000;
	font-weight: bold;
	font-size:30px;
	font-family: GothanMedium_regular;	
}
#regalasela-amigo p{
	margin: 15px 0px;
	font-size: 20px;
	color: #878a87;
	font-family: GothanMedium_regular;	
}
#regalasela-amigo a{
	padding: 20px 70px;
	font-family: GothanMedium_regular;
}
#regalasela-amigo div{
	margin-bottom: 10px;
	margin-top: 10px;
}

/* Pop Up Full */
	
	#form-pop-up-home{
		width: 50%;
		margin: 0px auto 3%;
	}

	.input-pop-up-home {
        width: calc( 50% - 10px );
	    border: solid 2px;
	    padding: 7px 10px;
	    text-align: center;
	    outline: none;
	}

	.separador-pop-up-home{
		display: inline-block;
		width: 10px;
	}

	.btn-pop-up-home {
	    margin-top: 15px;
	    cursor: pointer;
	    background: #091705;
	    border-radius: 10px;
	    border: 2px solid #091705;
	    color: #fff;
	    font-size: 20px;
	    padding: 5px 20px;
	    margin-top: 20px;
	    font-family: GothanMedium_regular;
	    text-decoration: none;
	    outline: none;
	}

	.btn-pop-up-home:hover {
        background: #ffffff;
	    color: #000!important;
	    text-decoration: none;
	}

	.nutri-container #mensaje {
		width: 50%;
	    font-size: 16px;
    	margin: 0px auto 60px;
	    font-family: GothanMedium_regular;
	    display: none;
	}

/* Pop Up Footer */
	
	#contacto-ayuda{
		overflow: hidden;
	}
	
	#contacto-ayuda > img.contacto-ayuda-izquierda,
	#contacto-ayuda > img.contacto-ayuda-derecha {
		height: 180px;
	}

	#contacto-ayuda > img.contacto-ayuda-izquierda {
		float: left;
		position: relative;
		z-index: 100;
	}

	#contacto-ayuda > img.contacto-ayuda-derecha {
		position: absolute;
	    bottom: 0px;
	    right: 0px;
		z-index: 50;
	}

	.solo_pc{
		display: block;
	}
	.solo_movil{
		display: none;
	}

	.fondo_popup_movil{
		width: 80%;
	}

	#nutriheroes {
	    display: table;
	}

	.nutri-container {
	    vertical-align: middle !important;
	    display: table-cell;
	}

/* ************************ */
/* Responsive 				*/
/* ************************ */
@media (max-width: 1600px){
	#asesor a{
    	font-size: 11px;
	}

	#si-encuentras-precio {
    	font-size: 25px!important;
	}
	#precio-vet{
		font-size: 20px!important;
	}	

}

@media (max-width: 1200px){
	#asesor a{
    	font-size: 11px;
	}

	#si-encuentras-precio {
    	font-size: 30px!important;
	}
	#precio-vet{
		font-size:20px!important;
	}	

}

@media (min-width: 992px) and (max-width: 1191px){
	#si-encuentras-precio {
    	font-size: 21px!important;
	}
	#precio-vet{
		font-size:14px!important;
	}
}

@media (max-width: 991px) {
	#si-encuentras-precio {
    	font-size: 18px!important;
	}

	#precio-vet{
		font-size:15px!important;
	}

}

@media (max-width: 900px) {
	body{
	    padding-bottom: 150px;
	}
	#contacto-ayuda > img.contacto-ayuda-izquierda,
	#contacto-ayuda > img.contacto-ayuda-derecha {
		height: 150px;
	}
}


@media (max-width: 780px) and (orientation: landscape){
	#header div:nth-child(2) {
		margin: 0 0 0 0;
	}
	#header .col-xs-12 {
		width: 50%;
	}
	#home-opciones > div > label{
		font-size: 28px;
	}
	#dog{
		height: 200px!important;
	}
	#si-encuentras-precio {
    	font-size: 32px!important;
	}

	#precio-vet{
		font-size:21px;
	}
}

@media (max-width: 780px){
	#header a{
		padding: 10px 50px;
	}	
	#header h2{
		font-size: 19px!important;
	}
	#section-comment h3{
		font-size: 18px!important;
	}
	#como-funciona p {
    	font-size: 25px;
	}
	#home-opciones > div > label{
		font-size: 30px;
	}
	#como-consigo-kmibox p{
		font-size: 23px;
	}
	#home-dog > div h4{
		font-size: 30px;
	}
	#dog{
		height: 190px;
	}
	#regalasela-amigo p{
		font-size: 25px;
	}

	#como-consigo-kmibox label{
	text-align: center;
    font-size: 20px;
    font-weight: normal;
    
	}

	#asesor a{
    	font-size: 11px;
	}

	#si-encuentras-precio {
    	font-size: 32px!important;
	}

	#precio-vet{
		font-size:21px!important;
	}

}
 

@media ( max-width: 653px ) {
	#header{
		margin-bottom: 20px;
	}
	#dog{
		height: 100px;
	}

	#header a {
	    padding: 10px 40px;
	    font-size: 25px;
	}
	.col-header-action{
		float: right;
		width: 70%;
	}
	.col-header-dog img{
		width: 40%;
	}
	.col-header-dog{
		position: absolute!important;
		z-index: -3;
		left: -35%;
	}

	.border-lateral{
		border-left: 0px solid #f3ecec;
	    border-right: 0px solid #f3ecec;
	}

	#asesor a{
    	font-size: 11px;
	}
	
	#quiero-convertirme-asesor {
		font-size: 18px!important;
	}

	

}
@media (max-width: 653px) and (orientation: landscape){
	.col-header-dog img {
		width: 60%;
	}
	.col-header-dog {
	    left: 0;
	}

} 

@media (max-width: 750px){
	body{
	    padding-bottom: 250px;
	}

	#contacto-ayuda > img.contacto-ayuda-izquierda,
	#contacto-ayuda > img.contacto-ayuda-derecha {
		height: 250px;
	}

	.solo_pc{
		display: none;
	}

	.solo_movil{
		display: block;
	}

	.fondo_popup_movil {
	    width: auto;
	    max-height: 500px;
	}

	.separador-pop-up-home {
	    display: none;
	}

	.input-pop-up-home {
	    width: 100%;
	    font-size: 11px;
	}

	.btn-pop-up-home {
	    font-size: 14px;
	}

	#form-pop-up-home {
	    width: 80%;
	    margin: 0px auto 145px;
	}

}

@media (max-width: 589px){

	.fondo_popup_movil{
		# width: 100% !important;
	}

	#si-encuentras-precio {
    	font-size: 25px!important;
	}

	#precio-vet{
		font-size:12px!important;
	}
}

@media (max-width: 466px){

	#si-encuentras-precio {
    	font-size: 20px!important;
	}

	#precio-vet{
		font-size:12px!important;
	}

	body{
	    padding-bottom: 165px;
	}
	#contacto-ayuda > img.contacto-ayuda-izquierda,
	#contacto-ayuda > img.contacto-ayuda-derecha {
		height: 165px;
	}

	.fondo_popup_movil {
	    width: 100%;
	    max-height: none;
	}

	#form-pop-up-home {
	    width: 80%;
	    margin: 0px auto 30%;
	}
	
}

@media (max-width: 400px){

	.col-header-dog img{
		width: 50%;
	}
}

@media (max-width: 400px){
	#header a {
	    padding: 10px 30px;
	    font-size: 20px;
	}

	#asesor a{
    	font-size: 10px!important;
    	padding: 20px 30px;
	}

	#quiero-convertirme-asesor {
		font-size: 16px!important;
	}

	#si-encuentras-precio {
    	font-size: 19px!important;
	}

	#precio-vet{
		font-size:12px!important;
	}
}

@media (max-width: 377px){

	#si-encuentras-precio {
    	font-size: 17px!important;
	}

	#precio-vet{
		font-size:12px!important;
	}

}

@media (max-width: 327px){

	#si-encuentras-precio {
    	font-size: 14px!important;
	}

	#precio-vet{
		font-size:10px!important;
	}

	#form-pop-up-home {
	    margin: 0px auto 25%;
	}

}

@media (max-width: 292px){

	#asesor a{
    	font-size: 8px!important;
    	padding: 11px 9px;
	}

	#quiero-convertirme-asesor {
		font-size: 12px!important;
	}

	#si-encuentras-precio {
    	font-size: 12px!important;
	}

	#precio-vet{
		font-size:10px!important;
	}
}



