nav{
    padding: 20px;
    text-align: center;
    background-color: #091705;
    overflow: hidden;
    font-size: 24px;
    color: #FFF;
    margin-bottom: 30px;
}

nav .atras {
    float: left;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 99999999999999;
    position: relative;
}

nav .atras:hover {
    border: 1px solid #091705;
    background-color: #FFF;
    color: #091705;
}

nav .titulo_h1{
    display: block;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
    left: 0px;
}

.lock{
    width: 20px;
    vertical-align: baseline;
    margin-right: 10px;
}

.pago_titulo{
    font-size: 25px;
    margin-bottom: 30px;
}

.pago_subtitulo{
    font-size: 20px;
}

.input_box {
    padding-bottom: 5px;
    position: relative;
}

.fecha_vencimiento{
    overflow: hidden;
    text-align: right;
}

.fecha_vencimiento > div{
    margin-left: 6px;
}

.fecha_vencimiento input,
.fecha_vencimiento select
{
    float: right;
    max-width: 80px;
    border-radius: 4px !important;
}

.fecha_vencimiento span {
    font-size: 16px;
    padding: 6px 0px 0px;
    display: inline-block;
    float: left;
}

.input_box_interno{
    display: inline-block;
    position: relative;
}

.form_info{
    text-align: right;
    font-size: 15px;
}

.form_total{
    text-transform: uppercase;
    font-size: 18px;
}

.form_total_monto{
    text-transform: uppercase;
    font-size: 30px;
    color: #0b0;
    padding: 10px 0px;
}

.btn-pagar{
    background-color: #0b0;
    border-radius: 4px;
    border: solid 1px #0b0;
    text-transform: uppercase;
    max-width: 180px;
    width: 100%;
    color: #FFF;
    padding: 6px 0px !important;
}

.form_btn_container {
    padding: 30px 0px;
    overflow: hidden;
}

.form_btn_container img {
    padding: 0px 5px;
}

.input_container {
    max-width: 440px;
}

.desglose img {
    max-width: 80px;
}

.desglose_direccion{
    background: #0b0;
    padding: 20px;
    border-radius: 4px;
    color: #FFF;
}

.desglose_direccion > div {
    padding: 5px 0px;
}

table.desglose {
    width: calc( 100% - 40px );
    margin: 30px 20px 0px;
}

.desglose img {
    max-width: 85px;
    padding: 0px 15px;
}

.desglose .item_img{
    width: 100px;
}

.desglose .item_info{
    font-family: Gothamlight_Regular;
}

.desglose .item_nombre {
    text-transform: uppercase;
    font-family: GothanMedium_regular;
    color: #091705;
}

.desglose .item_total{
    width: 140px;
    text-align: right;
    font-family: GothanMedium_regular;
    color: #091705;
}

.subtotales{
    border-top: solid 2px #0000006b;
    border-bottom: solid 2px #0000006b;
    margin: 20px 0px;
    padding: 20px;
}

.subtotales > div {
    overflow: hidden;
    font-size: 16px;
}

.subtotales > div > span {
    float: right;
    text-transform: uppercase;
}

.totales{
    margin: 0px;
    padding: 0px 20px;
}

.totales > div {
    overflow: hidden;
    font-size: 16px;
    text-transform: uppercase;
}

.totales > div > span {
    float: right;
    color: #0b0;
}

.logo_final{
    text-align: center;
}

.logo_final img {
    margin: 25px 0px 25px;
    max-height: 150px;
}

.desglose td {
    padding: 20px 0px;
}

.logo_final img {
    max-width: 100%;
}

.caviarL{
    font-family: Gothamlight_Regular;
}

.caviarM{
    font-family: GothanMedium_regular;
}

.errores_box{
    display: none;
    border-top: solid 2px orange;
    border-bottom: solid 2px orange;
    padding: 10px;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

#pago_exitoso {
    margin: 3% auto 0px;
    width: calc( 100% - 40px );
    border-radius: 10px !important;
    padding: 10px !important;
    max-width: 1000px;
    display: block;
    float: none;
}

#pago_exitoso .col-md-8 {
    width: 100%;
    float: none;
    margin: 0px auto !important;
    padding: 0px;
}

.text-felicidades{
	font-size: 40px; 
	font-weight: bold; 
	color: #04b804; 
	margin-bottom: 20px;
}

.text-suscripcionexitosa{
	color:#000; 
	font-weight: bold; 
	margin-bottom: 20px;
    font-size: 18px;
}

.text-tususcripcion{
	font-size: 18px;
}

.total{
	font-size: 18px; 
	font-weight: bold;
}

.desglose_final{
	width: 100%;
	border-right: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
}

.desglose_final th {
	border-left: solid 1px #CCC;
	border-top: solid 1px #CCC;
}

.desglose_final th div {
    font-family: GothanMedium_regular;
	border: solid 1px #CCC;
    margin: 10px 10px 5px;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    font-weight: 800;
}

.desglose_final td {
	border-left: solid 1px #CCC;
    font-size: 14px;
}

.desglose_final td.info {
	text-align: left;
	padding: 10px;
	border-left: solid 0px #CCC;
    font-family: Gothamlight_Regular;
}

.desglose_final td img {
	height: 100px;
    margin-right: 10px;
}

.desglose_final td.info > div {
	display: inline-block;
    text-align: center;
}

.desglose_final td.info  .info_2 {
    font-family: GothanMedium_regular;
    text-transform: uppercase;
}

.desglose_final td.periodicidad {
    font-family: GothanMedium_regular;
    text-transform: uppercase;
}

.solo_movil{
	display: none !important;
}

.info_3 div {
    font-family: GothanMedium_regular;
}

.mayuscula {
    text-transform: uppercase;
}

.controles_generales{
    position: fixed;
    #background: #CCC;
    padding: 5px 15px 5px 15px;
    top: 15px;
    box-sizing: border-box;
}

#vlz_atras {
    left: 20px;
    width: 140px;
    background: #091705;
    border-radius: 40px;
    border: 1px solid #091705;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none !important;
    z-index: 99;
}

#vlz_atras:hover {
    background: #FFF;
    color: #091705;
    border: solid 2px #091705;
}

#vlz_atras i {
    margin-right: 5px;
}

#vlz_titulo {
    width: calc( 100% - 230px );
    left: 140px;
    top: 13px;
    text-align: center;
    font-size: 20px;
    font-size: 25px;
    font-weight: bold;
}

.btn{
    white-space: inherit !important;
}