.perfil_tabs{
	margin: 0px !important;
    padding: 0px !important;
    overflow: hidden;
}

.perfil_tabs li{
    list-style: none;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    width: calc( 33.333333% - 20px );
    text-align: center;
    background: #181E0D;
    color: #FFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    margin: 10px;
    text-transform: uppercase;
}

.perfil_tabs li:hover{
    color: #9BFF00;
}

.perfil_tabs li.tab_activo{
    background-color: #181E0D;
    color: #9BFF00;
}

.perfil_tabs li.tab_activo:hover{
    color: #9BFF00;
}

.secciones_container{
	
}

.secciones_container > section{
    display: none;
    padding: 10px;
    overflow: hidden;
}

.secciones_container > section > h1{
	text-align: center;
}

.secciones_container > section.section_activo {
	display: block;
}

.section_box{
    display: block;
    margin: 0px auto;
    max-width: 1000px;
}

.carrusel_suscripciones_box{
    overflow: hidden;
    margin-bottom: 20px;
}

.carrusel_suscripciones_container_general{
    float: left;
    width: 60%;
    box-sizing: border-box;
}

.carrusel_suscripciones_container_general > label{
    font-size: 18px;
    font-weight: 600;
}

.img_grande {
    padding: 10px;
    float: right;
    width: 35%;
    box-sizing: border-box;
    height: 240px;
}

.img_grande > div {
    height: 100%;
    border: solid 1px #c7c7c7;
    border-radius: 15px;
    text-align: center;
}

.img_grande > div > img {
    height: 100%;
}

.bx-wrapper .bx-pager {
    display: none;
}

.bx-viewport{
    height: 200px !important;
}

.bx-wrapper{
    max-width: 100% !important;
}

.xborder-curvo .img-responsive {
    height: 135px;
}

.xborder-curvo .row label {
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
}

.carrusel_suscripciones_container {
    padding: 0px;
    overflow-x: hidden;
    height: 200px;
    overflow-y: hidden;
}

.carrusel_suscripciones_container > div {
    position: relative;
    float: left;
    height: 100%;
    width: 200px !important;
}

.carrusel_suscripciones_container > div > div {
    width: calc( 100% - 10px );
    height: calc( 100% - 10px );
    margin: 5px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.carrusel_suscripciones_container .item_carrusel_img{
    width: 100%;
    height: 70%;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carrusel_suscripciones_container .item_carrusel_orden{
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: #FFF;
    z-index: 99999;
    padding: 3px;
    text-align: center;
    text-transform: uppercase;
    border: solid 2px #777;
    border-left: 0px;
    border-right: 0px;
}

.carrusel_suscripciones_container .item_carrusel_total{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: #60C21E;
    z-index: 99999;
    padding: 3px;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 11px;
}

.form_suscripcion label {
    font-size: 12px;
    font-family: GothanMedium_regular !important;
    font-weight: 400;
    text-align: center;
    display: block !important;
}

.form_suscripcion {
    overflow: hidden;
}

.form_suscripcion > div {
    overflow: hidden;
}

.form_suscripcion .celda_4 > div{
    float: left;
    width: 25%;
    padding: 5px;
    box-sizing: border-box;
}

.form_suscripcion .celda_6 > div{
    float: left;
    width: 16.6666666667%;
    padding: 5px;
    box-sizing: border-box;
}

.form_suscripcion .entregas span {
    padding: 5px 10px;
    display: inline-block;
    background: #ffffff;
    border: 1px solid #ccc;
    vertical-align: middle;
    margin-right: 5px;
    font-size: 12px;
    width: 35px;
    height: 30px;
    text-align: center;
}

.form_suscripcion .entregas span i {
    display: none;
}

.form_suscripcion .entregas span.entregado i {
    display: inline-block;
}

.form_suscripcion .entregas label {
    display: inline-block !important;
    padding-left: 10px;
    font-size: 12px;
    font-family: GothanMedium_regular !important;
    font-weight: 400;
}

.subtiulo{
    color: #000000;
    display: block;
    text-align: left;
    font-size: 18px !important;
    margin: 10px 0px 20px !important;
}

input, select {
    border-radius: 5px !important;
    margin: 5px 0px;
}


.item_activo .item_carrusel_orden{
    color: #60C21E !important;
}

.item_activo .item_carrusel_total{
    color: #000 !important;
}

/* Donde esta mi marca */

    #armada,
    #enviada,
    #recibida {
        #opacity: 0.5;
    }

    .border-curvo {

    }

    .border-curvo .row label {
        font-size: 18px;
        color: #000000;
        text-transform: uppercase;
    }

    .border-curvo .row label i {
        margin-right: 5px; 
    }

    .progress-content i{
        display: none;
    }

    .progress-content i.fa-square-o{
        display: inline-block;
    }

    .progress-content .paso_completado i.fa-check-square-o {
        display: inline-block;
    }

    .progress-content .paso_completado i.fa-square-o {
        display: none;
    }
