html, body, #content-primary {
	height: 100%;
	margin: 0px !important;
	margin-top: 0px !important;
}

body {
   /* line-height: inherit;*/
}

div#wpadminbar {
    display: none !important;
}

.center{
	text-align: center;
}

.col-xs-12, .col-md-6, .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#content-primary, .comprar_container, .comprar_container section {
	height: 100%;
}

.controles_generales{
	position: fixed;
	#background: #CCC;
    padding: 5px 15px 5px 15px;
	top: 15px;
	box-sizing: border-box;
}

#vlz_atras {
	left: 20px;
    width: 140px;
    background: #091705;
    border-radius: 40px;
    border: 1px solid #091705;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none !important;
    z-index: 99;
}

#vlz_atras:hover {
    background: #FFF;
    color: #091705;
    border: solid 2px #091705;
}

#vlz_atras i {
	margin-right: 5px;
}

#vlz_titulo {
    width: calc( 100% - 230px );
    left: 140px;
    top: 13px;
    text-align: center;
    font-size: 20px;
    font-size: 25px;
    font-weight: bold;
}

#vlz_controles_fases {
    right: 20px;
    width: 50px;
}

#vlz_controles_fases > span {
	display: block;
    margin: 0px auto 10px;
    width: 10px;
    height: 10px;
    background-color: rgba(155, 255, 0, 0.5);
    opacity: 1;
    border-radius: 50%;
    position: relative;
}

#vlz_controles_fases > span > span {
	position: absolute;
    left: -60px;
    top: -4px;
    font-weight: 600;
    font-size: 13px;    
    font-family: GothanMedium_regular;
    display: none;
    width: 60px;
    text-transform: uppercase;
}

#vlz_controles_fases > span.fase_activa > span {
    display: inline-block;
}

#vlz_controles_fases span.fase_activa {
    background-color: #181E0D; 
}

.comprar_container {
    overflow: hidden;
}

.comprar_container section {
	overflow: hidden;
}

.btn-disable {
    background: #989898 !important;
    border: 2px solid #989898 !important;
}

/* Fase 1 */

	.selector_edad_container{
	    position: fixed;
	    bottom: 10px;
	    left: 0px;
	    width: 100%;
        height: 100px;
	}

	.selector_edad_container label{
	    text-align: center;
	    font-family: GothanMedium_regular;
	    font-size: 20px;
	    display: block;
	    padding: 15px 10px 5px;
	}

	.selector_edad_container .selector_edad_box{
	    text-align: center;
	    display: block;
	}

	.selector_edad_container .selector_edad_box span{
		display: inline-block;
	    background: #091705;
	    text-align: center;
	    font-family: GothanMedium_regular;
	    font-size: 20px;
	    color: #FFF;
	    padding: 5px 25px 5px;
	    min-width: 200px;
	    margin: 0px 10px;
	    border-radius: 150px;
	    cursor: pointer;
	    text-transform: uppercase;
	}

	.selector_edad_container .selector_edad_box span:hover{
	    background: #255d15;
	}

	.selector_edad_container .selector_edad_box span.btn_activo{
	    background: #48a52d !important;
	}

	#siguiente_pantalla {
	    width: 200px;
	    background: #091705;
	    border-radius: 40px;
	    border: 1px solid #091705;
	    color: #ffffff;
	    font-size: 17px;
	    font-weight: bold;
	    text-align: center;
	    text-decoration: none !important;
	    z-index: 9999999999999;
	    padding: 5px;
	    position: absolute;
	    bottom: 115px;
	    right: 40px;
	    text-transform: UPPERCASE;
	    cursor: pointer;
	}

	#siguiente_pantalla:hover {
	    background: #FFF;
	    color: #091705;
	    border: solid 2px #091705;
	}

/* Fase 2 */
	

	.marcas_container {
	    height: calc( 100% - 170px );
	    position: fixed;
	    width: 100%;
	    top: 120px;
	    overflow: hidden;
	}

	.abajo_marcas {
		position: fixed;
		left: 25px;
		bottom: 10px;
		color: #FFF;
		font-size: 27px;
		font-weight: 600;
		cursor: pointer;
		z-index: 100;
		background: #091705;
		border-radius: 50%;
		padding: 0px 6px;

		border: 0px !important;

		display: none;
	}

	.arriba_marcas {
	    position: fixed;
	    left: 60px;
	    bottom: 10px;
	    color: #FFF;
	    font-size: 27px;
	    font-weight: 600;
	    cursor: pointer;
	    z-index: 100;
		background: #091705;
		border-radius: 50%;
		padding: 0px 6px;

		border: 0px !important;

		display: none;
	}

	#marca {
	    height: 100%;
	    padding: 0px 10px;
	    margin: 0px 50px 0px;
	}

	.controles_marca_container {
	    margin: 75px 73px 0px 70px;
	    overflow: hidden;
	}

	.cantidad_resultados {
	    float: left;
	    font-size: 20px;
	    padding: 10px 0px 0px;
	    font-weight: 600;
	}

	.tipo_mascota {
	    float: right;
	}

	#tipo_mascota {
	    padding: 5px 20px;
	    outline: none !important;
	    box-shadow: 0px 0px 0px #000 !important;
	    border-radius: 5px !important;
	}

	#marca > div {
	    float: left;
	    width: 16.666666667%;
	    box-sizing: border-box;
	    padding: 5px;
        height: 25%;
        position: relative;
	}

	#marca > div > .item_box {
	    border: solid 2px #dbdbdb;
	    border-radius: 15px;
	    padding: 0px;
	    cursor: pointer;
	    height: 100%;
	}

	#marca > div > .item_box:hover {
		background: #ededed;
	}

	#marca > div.item_activo > .item_box {
		border: solid 2px #091705;
	}

	.img_box {
        height: 100%;
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: center;
	}

	.btn_siguiente_container{
		text-align: right;
		padding: 5px 30px;
		position: fixed;
	    bottom: 0px;
	    width: 100%;
	}

	.btn_siguiente_container button{
	    font-family: GothanMedium_regular;
	    background: #091705;
	    border-radius: 40px;
	    border: 2px solid #091705;
	    color: #ffffff;
	    font-size: 20px;
	    text-align: center;
	    text-decoration: none !important;
	    padding: 5px 25px 5px;
	    text-transform: uppercase;
	    outline: none !important;
	    box-shadow: 0px 0px 0px #000 !important;
	    cursor: pointer;
	}

	.btn_siguiente_container button:hover{
	    background: #FFF;
	    color: #091705;
	}

/* Fase 3 */
	
	.controles_presentaciones_container {
	    margin: 75px 73px 0px 20px;
	    overflow: hidden;
	}

	#presentaciones {
	    height: calc( 100% - 170px );
	    overflow: auto;
	    padding: 0px 10px;
	    margin: 0px auto;
	    max-width: 1400px;
	}

	#presentaciones > div {
	    float: left;
	    width: 50%;
	    box-sizing: border-box;
	    padding: 5px;
        height: 33.3333%;
        overflow: hidden;
        border-bottom: solid 1px #CCC;
	}

	#presentaciones > div > .item_box {
	    padding: 5px;
	    cursor: pointer;
        height: 100%;
        text-align: left;
        border-radius: 15px;
	}

	#presentaciones > div > .item_box:hover {
		background: #ededed;
	}

	#presentaciones > div.item_activo > .item_box {
		background: #ededed;
	}

	.info_producto_container {
	    width: calc( 100% - 180px );
	    float: right;
	    text-align: left;
	}

	#presentaciones .img_box {
		width: 180px;
		float: left;
        height: 100%;
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: center;
	}

	#presentaciones .title_producto_box {
	    font-weight: 600;
	    text-transform: uppercase;
	    font-size: 24px;
	    font-family: GothanMedium_regular;
	}

	#presentaciones .descripcion_producto_box {
	    font-weight: 400;
	    color: #888;
	    font-size: 22px;
	    font-family: Gothamlight_Regular;
	}

	#presentaciones .peso_producto_box {
	    font-weight: 600;
	    color: #00bc00;
	    font-size: 22px;
	    font-family: Gothamlight_Regular;
	    text-transform: uppercase;
	}

	#presentaciones .existencia_producto_box {
	    font-weight: 600;
	    color: #00bc00;
	    font-size: 16px;
	    font-family: GothanMedium_regular;
	    text-transform: uppercase;
	    color: red;
	}

/* Fase 4 */

	.comprar_box > span{
	    vertical-align: middle;
	    height: 100%;
	    width: 0px;
	    display: inline-block;
	}

	#fase_4 > div {
	    vertical-align: middle;
	    padding: 20px;
	    display: block;
	    width: 100%;
	    box-sizing: border-box;
	    position: fixed;
	    top: 100px;
	    height: calc( 100% - 100px );
	    overflow: auto;
	}

	#plan #nivel{
		position: relative;
		width: 0px;
		height: 100%;
		vertical-align: middle;
		display: inline-block;
	}

	#plan #plan_box{
		display: inline-block;
		width: calc( 100% - 5px );
		text-align: center;
	}

	#plan article{
		display: inline-block;
		width: calc( 20% - 5px );
		vertical-align: middle;
		padding: 10px;
		cursor: pointer;
	    box-sizing: border-box;
	}

	#plan article:hover{
		background: #f1f1f1;
	    border-radius: 20px;
	}

	#plan article img{
		padding: 10px;
	}

	#plan article.plan_activo{
		background: #f1f1f1;
	    border-radius: 20px;
	}

	.select_plan div {
	    text-align: center;
	    font-family: 'Gothamlight_Regular';
	    font-size: 16px;
	    font-weight: 400;
	    padding: 10px !important;
	    height: 120px;
        max-width: 200px;
    	margin: 0px auto;
	}

	.precio_plan {
	    display: block !important;
	    text-align: center;
	    font-weight: 600 !important;
	    font-size: 16px !important;
	    width: 100% !important;
	}

	section#fase_4 {
	    overflow: auto;
	}

/* Fase 5 */

	#fase_5 {
		overflow: auto !important;
	}

	#agregar_plan {
	    padding: 10px 20px;
	    font-family: GothanMedium_regular;
	    font-size: 16px;
	    font-weight: 600;
	    cursor: pointer;
        border: solid 2px #091705;
        text-transform: uppercase;
	}

	#agregar_plan:hover {
	    background: #091705;
	}

	#btn-sm-marca{
	   
	}
	.btn-sm-kmibox:hover, .btn-sm-kmibox-price:hover, .btn-kmibox:hover {
	    
	}

	.cantidad_controls{
	    display: block;
	    vertical-align: middle;
	    text-align: center;
	}

	.cantidad_controls label {
	    font-size: 15px !important;
	    display: inline-block;
	    text-align: center;
	    margin: 0px;
	}

	.cantidad_controls i{
	    display: inline-block;
	    font-size: 15px !important;
	    cursor: pointer;
	    text-align: center;
	    margin: 0px 10px;
	}

	.factura{
		margin: 120px auto 50px;
	    background-color: #FFF;
	    box-shadow: 1px 5px 10px #8c8c8c;
	    max-width: 900px;
        padding-right: 5px;
	}

	table {
		width: 100%;
	    font-family: Gothamlight_Regular;
	}

	#desglose th{    
		
	}

	#desglose th span{   
		display: block; 
		text-align: center;
	    background-color: #181E0D; 
	    color: #FFF;
	    padding: 3px 20px;
	    text-transform: uppercase;
	    margin: 2px;
	}

	body.iOS #desglose th span{
	    padding: 10px 20px 0px;
	}

	#desglose th *{
		font-size: 12px;
	}

	#desglose td *{
		font-size: 12px;
	}

	#desglose td {    
	    padding: 10px 5px;
	}

	#desglose td hr {        
		margin-top: 0px;
	    margin-bottom: 0px;
	    border: 0;
	    border-top: 2px solid #dfdfdf;
	}

	#desglose td.separador {        
	    padding: 0px 20px !important;
	}


	#derecha {
	    font-size: 20pt;
	    width: 40px;
	    height: 40px;
	    border-radius: 30px;
	    padding: 8px;
	    margin-top: 10%;
	    margin-left: 52%;
	}


	#izquierda {
	    font-size: 20pt;
	    /* background: #a09696; */
	    width: 40px;
	    height: 40px;
	    border-radius: 30px;
	    padding: 8px;
	    margin-top: 10%;
	    margin-left: 20%;
	}

	#totales{
		overflow: hidden;
		text-align: right;
		padding: 0px 20px 15px;
	}

	#cart-items {
		border: 0 !important;
	}

	#totales table {    
		text-align: right !important;
	}

	#totales table th{    
		text-align: right !important;
		padding: 2px 0px;
	}

	#totales table td {    
		text-align: right !important;
		color: #4b7300;
		font-weight: 600;
		width: 200px;
	}

	th.style_total {
		font-size: 20px;
		color: #181E0D !important;
	}

	td.style_total {
		font-size: 20px;
		color: #181E0D !important;
	}

	.cintillo_factura{
		overflow: hidden;
		text-align: center;
	}

	.cintillo_factura #cen{        
		width: 95%;
	    margin: 30px auto;
	}

	.btn_pagar{	
	    width: 100px;
	    background: #091705;
	    border-radius: 40px;
	    border: 1px solid #091705;
	    color: #ffffff;
	    font-size: 16px;
	    font-weight: bold;
	    text-align: center;
	    text-decoration: none !important;
	    z-index: 9999999999999;
	    padding: 10px 50px;
	    font-family: GothanMedium_regular;
	    border: solid 2px #091705;
	    cursor: pointer;
	}

	.btn_pagar:hover{	
	    background: #FFF;
	    color: #091705;
	    border: solid 2px #091705;
	}

	.resaltar_desglose{
		color: #091705;
	    text-transform: uppercase;
	    font-weight: 600;
	    font-family: GothanMedium_regular;
	}

	.fondo_opciones{
	    position: relative;
	    top: -14px;
	    left: -14px;
	    width: calc( 100% + 28px );
	}
	
	.opciones_pago {
	    overflow: hidden;
	}

	.opciones_pago a {
	    text-transform: uppercase;
	    color: #091705;
	}

	.modal-dialog {
	    width: 780px;
	}

	.modal-dialog .close {
	    opacity: .8;
	    top: 20px;
	    position: absolute;
	    right: 20px;
	}

	.solo_movil{
		display: none;
	}

	.solo_pc{
		display: table-cell;
	}

	.cart_descripcion{
		text-transform: capitalize;
	}

/* Carruseles */

/************************/
/* Carrousel - Tamaños  */
/************************/

	.carrousel-items-containers{
	    display: table;
	    width: 100%;
	    height: calc( 100% - 180px );
	    margin: 65px auto 0px;
	    max-width: 1000px;
	}

	.hover_carrousel_item article:nth-child(2) {
	    background: #e9e9e9;
	}

	.carrousel-items{
		height: 100%;
	    display: table-cell;
    	vertical-align: middle;
	}

	.carrousel-items > article{
		height: 70%;
		width: 33.333334%;
	    display: inline-block;
	    float: left;
	    padding: 20px 0px;
	}

	.carrousel-items > article > div{
		max-width: 90%;
	    margin: 0px auto;
        height: 100%;
    	text-align: center;
	}

	.carrousel-items > article > div > div {
		height: calc( 100% - 50px );
		max-width: 100%;
	    margin: 0px auto 10px;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: contain;
	}

	.carrousel-items article div p {
	    font-family: "GothanMedium_regular";
	    font-weight: normal;
	    color: #000;
	    text-transform: uppercase;
	    padding: 3px;
	    border-top: solid 2px #00bb00;
        margin: 0px 20px;
    	font-size: 25px;
    	width: calc( 100% - 40px );
	}